[submodule "MatAnyone"]
	path = MatAnyone
	url = https://github.com/pq-yang/MatAnyone.git
[submodule "RollingDepth"]
	path = RollingDepth
	url = https://github.com/prs-eth/RollingDepth.git
[submodule "seamless_communication"]
	path = seamless_communication
	url = https://github.com/facebookresearch/seamless_communication
[submodule "OpenVoice"]
	path = OpenVoice
	url = https://github.com/myshell-ai/OpenVoice.git
